@import "tailwindcss";

@tailwind utilities;

@layer base {
  :root {
    --background: var(--lightBg);
    --textColor: #000000;
    --borderColor: #303030;
    --primary: "#F54927";
  }

  .dark {
    --background: var(--darkBg);
    --textColor: #ffffff;
    --borderColor: #e5e5e5;
    --primary: "#FFB6AD";
  }
}